.content {
    font-size: 20px;
}

.text-options-2 {
    margin-left: 85px;
}

.text-options-1 {
    margin-left: 30px;
}

.text-options-3 {
    margin-left: 110px;
}

.caption {
    text-align: center;
  }

.caption-shop {
    text-align: center;
    margin-right: 50px;
    margin-top: 10px;
  }

.shop-button {
    margin-left: 130px;
    cursor: pointer; /* Example styling for the button */
}
